<div class="lux">
  <div class="deployment-version" >
    <text-style variation="strong">
      Version:
      <% if VersionFooter.info[:stale] %>
        (stale)
      <% end %>
      <span title="<%= VersionFooter.info[:sha] %>"><%= VersionFooter.info[:branch] %>, last updated: <%= VersionFooter.info[:version] %></span>
    </text-style>
  </div>
  <library-footer></library-footer>
</div>
