<div class="lux">
  <div class="deployment-version" >
    <text-style variation="strong">Version<span title="<%= GIT_SHA %>"><%= BRANCH %> last updated <%= LAST_DEPLOYED %></span>
    </text-style>
  </div>
  <library-footer></library-footer>
</div>
