<ul class="navbar-nav">
  <li class="nav-item"><a class="nav-link" href="<%= root_path %>">Home</a></li>
  <li class="nav-item"><a class="nav-link" href="<%= home_about_path %>">About</a></li>
  <li class="nav-item"><a class="nav-link" href="<%= home_features_path %>">Features</a></li>
  <li class="nav-item"><a class="nav-link" href="https://datacommons.princeton.edu/describe/" target="_blank">How to Submit</a></li>
  <li class="nav-item"><a class="nav-link" href="#" data-toggle="modal" data-target="#contactUsModal">Contact Us</a></li>
</ul>
