<ul class="navbar-nav">
  <li class="nav-item"><a class="nav-link" href="<%= root_path %>"">Home</a></li>
  <li class="nav-item"><a class="nav-link" href="<%= home_about_path %>">About</a></li>
</ul>
