<style>
    .team-section {
        font-weight: bold;
        margin-bottom: 0px;
        margin-top: 0px;
    }
</style>

<h2>About Princeton's Research Data Repository</h2>
<p>Our multi-disciplinary digital repository offers expert curation services and is designed to archive and publicly
    disseminate data and code that are the result of research activities by Princeton University's research community. </p>

<h3>What's new?</h3>
<p>The Princeton research data repository has a new front-end, called Princeton Data Commons: Discovery. This is an early
    release of our evolving discovery layer, and we are welcoming feedback from everyone. Please email us at
    <a href="mailto:prds@princeton.edu">prds@princeton.edu</a> with any questions or comments.</p>

<h3>Why does Princeton University have an online data repository?</h3>
<p>Princeton University is committed to supporting research that has the potential to benefit humanity at large.
    Very often, research conducted by members of the Princeton community is publicly funded and therefore entails
    an explicit responsibility to share the products of the research openly with taxpayers. Some academic journals
    have data policies requiring that the evidence backing submitted research papers be posted online for peer
    review and public scrutiny. An increasing number of Princeton researchers also embrace the principles of open
    research in general, committing to share their data and/or code for the sake of transparency, accountability,
    and the democratization of knowledge, regardless of whether their funders and publishers require it. This
    repository exists to support long-term archiving and open dissemination of any digital research product from
    the Princeton community, meeting funder and publisher policies, as well as open research principles.<p>

<h3>Who has access to items in the repository?</h3>
<p>Anyone can browse, download, and investigate the items, free of charge. Many, if not most, of these items have an
    intended audience of specialists in a given field of research, and users should be cautioned that individual
    contributors typically retain copyrights to their research works, so permissions may be required for some forms
    of use and re-use, depending on the item.</p>

<h3>Who manages Princeton's Research Data Repository?</h3>
<p>Data are curated and published by the <a href="https://researchdata.princeton.edu/">Princeton Research Data Service</a>
    (PRDS), with technical and infrastructure support from information technology staff at the Princeton University Library.
    PRDS curators review submissions with an eye toward discoverability, reusability, and long-term preservation - without
    partiality to the subject matter or findings of the research.</p>

    <p>For general questions related to the repository, please contact the
        <a href="mailto:dspadmin@princeton.edu">curators</a>.</p>

<h3>The Repository Team</h3>

    <p class="team-section">Development</p>
    <p>Carolyn Cole, Hector Correa, James Griffin III, Kate Lynch, Bess Sadler</p>

    <p class="team-section">Curation</p>
    <p>Matt Chandler, Neggin Keshavarzian</p>

    <p class="team-section">Additional Contributors</p>
    <p>Chun Ly (Princeton Plasma Physics Laboratory)</p>
    <p>Rishi Joshi (Princeton Research Computing)</p>

    <p class="team-section">Repository Manager</p>
    <p>Hannah Hadley</p>

    <p class="team-section">Director</p>
    <p>Wind Cowles</p>

<h3>About the Princeton Data Commons (PDC) project</h3>
<p>The Princeton Data Commons is a project to create an ecosystem of online resources and tools to support and advance
    storing, preserving, managing, sharing, and curating digital research data. Princeton Data Commons - Discovery
    is the first application in this new ecosystem. For more information about the PDC project, please contact Wind
    Cowles, Director of Research Data and Open Scholarship
    (<a href="mailto:windcowles@princeton.edu">windcowles@princeton.edu</a>).</p>
