<h1 id="repo-team-title">The Repository Team</h1>
    <%= image_tag("pdc_contributors.svg", alt: "A group photo of the Princeton Data Commons Repository team") %>
    <h2 id="curation-title" class="h2-contributors">Curation Service, Princeton Research Data Service (PRDS)</h2>
        <ul>
            <li>Neggin Keshavarzian - Senior Research Data Management Specialist</li>
            <li>Sarah Reiff Conell - Research Data Management Specialist</li>
            <li>Halle Burns - Research Data Management Specialist</li>
        </ul>
    <h2 class="h2-contributors">Repository Management, Princeton Research Data Service (PRDS)</h2>
        <ul>
            <li>Matt Chandler - Lead for Research Data Infrastructure Services</li>
        </ul>
    <h2 class="h2-contributors">Other Contributors</h2>
        <ul>
            <li>Chun Ly - Division Manager, Research Publications and Data Management, Princeton Plasma Physics Laboratory</li>
            <li>Meghan Testerman, Open Research and Scholarship Librarian and Head of Princeton Research Data Service (PRDS), Princeton University Library</li>
            <li>Hannah Hadley - Manager of Open Publishing and Repository Services, Princeton University Library</li>
            <li>Jen Greyburn, Assistant Director of Research Data and Open Scholarship, Princeton University Library</li>
        </ul>
    <h2 class="h2-contributors">Project Administration</h2>
        <ul>
            <li>Wind Cowles - Associate Dean, Data, Research and Teaching, Princeton University Library</li>
        </ul>
<h1>Infrastructure Development</h1>
    <h2 class="h2-contributors">Research Data and Scholarship Services (RDSS)</h2>
        <ul>
            <li>Kate Lynch - Lead Library Software Engineer</li>
            <li>Carolyn Cole - Senior Library Software Engineer</li>
            <li>Hector Correa - Senior Library Software Engineer</li>
            <li>James Griffin - Library Software Engineer</li>
            <li>Bess Sadler - Senior Library Software Engineer</li>
            <li>Tyler Wade - Cataloging and Metadata Services Fellow</li>
        </ul>
    <h2 class="h2-contributors">Library IT Operations</h2>
        <ul>
            <li>Robert-Anthony Lee-Faison - IT Operations Fellow</li>
            <li>Francis Kayiwa - Developer Operations Engineer</li>
            <li>Alicia Cozine - Library Operations Engineer</li>
        </ul>
    <h2 class="h2-contributors">Emeritus Contributors</h2>
        <p>Rishi Joshi, Chuck McCallum</p>

<p>Please reach out with questions to <a href="mailto:prds@princeton.edu">prds@princeton.edu</a></p>