<h1 id="repo-features">Repository features</h1>
    <h2>Data Curation</h2>
        <p>Princeton Data Commons is a fully mediated data repository. Depositors work with curators 
            (data management experts) at the Princeton Research Data Service to ensure all data 
            submissions adhere to <a href="https://www.go-fair.org/fair-principles/">FAIR Principles</a> 
            in a process called ‘data curation.’ Data curation is a free, required service for those 
            wishing to publish data/code in the Princeton Data Commons. </p>
        <p>For more on data curation, please see 
            <a href="https://researchdata.princeton.edu/research-lifecycle-guide/planning/data-curation">Data Curation</a>.</p>
    <h2>Access Options</h2>
        <p>Depositors can make their data immediately available to the public or restrict access through 
            an embargo for up to one year. </p>
    <h2>Persistent Identifiers</h2>
        <p>All datasets in Princeton Data Commons receive a unique digital object identifier (DOI) in the form of 
            a persistent link. This persistent identifier guarantees no broken links to the data record and can be 
            used as part of a dataset citation which includes all objects in the data submission. </p>
    <h2>Discovery and access</h2>
        <p>Princeton Data Commons is Princeton University’s data repository for long-term archiving and open, citable 
            dissemination of digital research data and code produced by the Princeton Research Community. Anyone can 
            search and download data housed in this repository that is not otherwise under an embargo period, withdrawn, 
            or migrated, either immediately or by request. For more information please see the 
            <a href="https://datacommons.princeton.edu/discovery/policies">Acceptance and Retention Policy</a>.</p>
    <h2>Metadata Schema</h2>
        <p>Our metadata schema provides the essential information needed to make assets discoverable and provide necessary 
            context for reuse. We use required and selected properties from Datacite 4.4 to provide essential description, 
            but have added other schema properties to optimally describe research data. Depositors can contact us to suggest 
            additional schema properties we may provide to best describe the submission.</p>
    <h2>ORCID ID Support</h2>
        <p>We are beginning to offer support for ORCID IDs. You may enter an ORCID iD to your profile or apply one to a 
            creator or contributor in the submission form. We are developing additional features supporting ORCID IDs – 
            stay tuned!</p>
    <h2>Preservation and long-term storage</h2>
        <p>Princeton Data Commons (PDC) provides long-term storage of files and associated metadata with preservation services 
            such as data migration policies, secure backups, and file-level integrity checks.  For more information on 
            retention, migration, and digital storage for PDC, please see the 
            <a href="https://datacommons.princeton.edu/discovery/policies">Acceptance and Retention Policy</a>.</p>
    <h2>Large Data</h2>
        <p>All submissions over 100 MB will be required to use Globus during the curation process and will also be available for 
            download in the repository through Globus. Globus is a free, not-for-profit service developed and operated by the 
            University of Chicago. This research cyberinfrastructure allows users to download, share, and transfer files securely 
            from anywhere via web browser. </p>
    <h2>Meets NSTC Desirable Characteristics</h2>
        <p>Princeton Data Commons meets a large number of Desirable Characteristics of Data Repositories for Federally Funded 
            Research as outlined by the U.S National Science and Technology Council.* </p>

    <h2 class="table-titles">Organizational infrastructure</h2>
        <table>
            <tbody>
                <tr>
                    <th scope="row">Free and Easy Access</th>
                    <td>Princeton Data Commons provides broad, equitable, and maximally open access to datasets and their metadata 
                        free of charge in a timely manner after submission.</td>
                </tr>
                <tr>
                    <th scope="row">Clear Use Guidance</th>
                    <td>Princeton Data Commons requires documentation describing terms of dataset access and use to 
                        accompany all submitted datasets. For more information, please see
                        <a href="https://researchdata.princeton.edu/research-lifecycle-guide/publishing-and-preservation/princeton-research-data-repository/getting">
                            Getting Started as a Princeton Data Commons Describe Contributor</a>.</td>
                </tr>
                <tr>
                    <th scope="row">Risk Management</th>
                    <td>Princeton Data Commons does not accept sensitive data. For technical risk management, please see “Long-term 
                        technical sustainability” below.</td>
                </tr>
                <tr>
                    <th scope="row">Retention Policy</th>
                    <td>The <a href="https://datacommons.princeton.edu/discovery/policies">Data Acceptance 
                        and Retention Policy and Guidance for the Princeton Data Commons Data Repository Service</a> 
                        documents the university’s policies for data retention.</td>
                </tr>
                <tr>
                    <th scope="row">Long-term Organizational Sustainability</th>
                    <td>The <a href="https://datacommons.princeton.edu/discovery/policies">Data Acceptance 
                        and Retention Policy and Guidance for the Princeton Data Commons Data Repository Service</a> 
                        contains plans for long-term management of data, including maintaining integrity, authenticity, and 
                        availability of datasets.</td>
                </tr>
            </tbody>
        </table>

    <h2 class="table-titles">Digital Object Management</h2>
        <table>
            <tbody>
                <tr>
                    <th scope="row">Unique Persistent Identifiers</th>
                    <td>Princeton Data Commons assigns a digital object identifier (DOI) to all data submissions to support data discovery, reporting 
                        (e.g., of research progress), and research assessment (e.g., identifying the outputs of Federally funded research). The unique 
                        DOI points to a persistent location that remains accessible even if the dataset is de-accessioned or no longer available.</td>
                </tr>
                <tr>
                    <th scope="row">Metadata</th>
                    <td>Princeton Data Commons requires datasets to be accompanied by metadata to enable discovery, reuse, and citation of datasets, 
                        using schemas that are appropriate to, and ideally widely used across, the communities that the repository serves. For more 
                        information, please see 
                        <a href="https://researchdata.princeton.edu/research-lifecycle-guide/publishing-and-preservation/princeton-research-data-repository/getting">
                            Getting Started as a Princeton Data Commons Describe Contributor</a>.</td>
                </tr>
                <tr>
                    <th scope="row">Curation and Quality Assurance</th>
                    <td>Princeton Research Data Service provides expert curation and quality assurance to improve the accuracy and integrity of datasets 
                        and metadata housed in Princeton Data Commons.</td>
                </tr>
                <tr>
                    <th scope="row">Broad and Measured Reuse</th>
                    <td>Princeton Data Commons requires datasets to be accompanied by metadata that describe terms of reuse and provides the ability to 
                        measure attribution, citation, and reuse of data through assignment of adequate and openly accessible metadata and unique digital 
                        object identifiers (DOIs).</td>
                </tr>
                <tr>
                    <th scope="row">Common Format</th>
                    <td>Princeton Data Commons allows datasets and metadata to be accessed, downloaded, or exported from the repository in widely used 
                        formats.</td>
                </tr>
                <tr>
                    <th scope="row">Provenance</th>
                    <td>Princeton Data Commons has mechanisms in place to record the origin, chain of custody, and any other modifications to submitted 
                        datasets and metadata.</td>
                </tr>
            </tbody>
        </table>

    <h2 class="table-titles">Technology</h2>
        <table>
            <tbody>
                <tr>
                    <th scope="row">Authentication</th>
                    <td>Princeton University Library Information Technology (IT) supports the authentication of Princeton University-affiliated data submitters.
                        The repository has technical capabilities that facilitate associating submitter IDs with those assigned to their deposited digital objects, 
                        such as datasets.</td>
                </tr>
                <tr>
                    <th scope="row">Long-term Technical Sustainability</th>
                    <td>Princeton University Library Information Technology (IT) has a plan for long-term management of data, building on a stable technical 
                        infrastructure and funding plans.</td>
                </tr>
                <tr>
                    <th scope="row">Security and Integrity</th>
                    <td>Princeton University Library Information Technology (IT) has documented measures in place to meet well established cybersecurity criteria 
                        for preventing unauthorized access to, modification of, or release of data, with levels of security that are appropriate to the sensitivity 
                        of data (e.g., the NIST Cybersecurity Framework: <a href="https://www.nist.gov/cyberframework">https://www.nist.gov/cyberframework</a>).</td>
                </tr>
            </tbody>
        </table>
    <p id="footnote">*The National Science and Technology Council, Desirable Characteristics of Data Repositories for Federally Funded Research, 2022, DOI: 
        <a href="https://doi.org/10.5479/10088/113528">https://doi.org/10.5479/10088/113528</a></p>
