


<div class="jumbotron jumbotron-fluid text-left">
  <h1 class="jumbotron-heading h3">Search and access Princeton's research data</h1>

  <p class="lead">
    <%= content_tag :div, role: 'navigation', aria: { label: t('blacklight.search.header') } do %>
      <div class="<%= container_classes %>">
        <%= render_search_bar  %>
      </div>
    <% end %>
  </p>

</div>

<script>
  Blacklight.onLoad(function() {
    $('#about .card-header').one('click', function() {
      $($(this).data('target')).load($(this).find('a').attr('href'));
    });
  });
</script>
