<div class="text-center">
  <h2 class="h3">Recently published</h2>
  <ul class="text-left" id="recently-added">
    <% RecentlyAdded.feed.take(5).each do |entry| %>
      <%= render_recent_entry(entry) %>
    <% end %>
  </ul>
</div>
