<div class="text-center">
  <h2 class="h3">Recently published</h2>
  <% @feed = fetch_feed("#{root_url}/catalog.json") %>
  <ul class="text-left" id="recently-added">
    <% @feed.each do |key, values| %>
      <%= render_recent_entry(key, values) %>
    <% end %>
  </ul>

</div>
