<div id="sidebar" class="sidebar">
  <ul>
    <li><span class="number">100</span> <i class="bi bi-file-arrow-down-fill"></i>downloads</li>
    <li><span class="number">250</span> <i class="bi bi-eye-fill"></i>views</li>
  </ul>
</div>
