<section class="document-downloads-section">
  <div class="lux">
    <div class="card">
      <div class="document-downloads card-body">
        <table id="files-table" class="table">
          <thead>
            <tr>
              <th scope="col" nowrap="nowrap"><span>#</span></th>
              <th scope="col" nowrap="nowrap"><span>Filename</span></th>
              <th scope="col" nowrap="nowrap"><span>Filesize</span></th>
            </tr>
          </thead>
          <tbody>
            <% @document.files.each_with_index do |file, ix| %>
              <tr class="document-download">
                <th scope="row">
                  <span><span><%= ix + 1 %></span></span>
                </th>
                <td>
                  <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" class="bi bi-file-earmark-arrow-down-fill">
                      <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zm-1 4v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 11.293V7.5a.5.5 0 0 1 1 0z"></path>
                    </svg>
                    <a href="#" class="documents-file-link" title="<%= file['name'] %>"><%= truncate(file["name"], length: 60) %></a>
                  </span>
                </td>
                <td>
                  <span><span><%= number_to_human_size(file["size"]) %></span></span>
                </td>
              </tr>
            <% end %>
          </tbody>
          <tfoot></tfoot>
        </table>
        <button data-v-b7851b04="" type="button" class="document-downloads__button lux-button solid medium"><!----> Download from Globus
          <svg data-v-b7851b04="" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" class="bi bi-cloud-arrow-down-fill">
            <path data-v-b7851b04="" d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 6.854-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5a.5.5 0 0 1 1 0v3.793l1.146-1.147a.5.5 0 0 1 .708.708z"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
$(function() {

  // Wire DataTable for the file list.
  $('#files-table').DataTable();

  // Track via Plausible file downloads.
  $(".documents-file-link").click(function() {
    var filename = $(this).text();
    log_plausible(filename);
    return true;
  });

});
</script>
