<section class="document-downloads-section">
  <div>
    <div class="card">
      <div class="document-downloads card-body">

        <!-- Only render file download table if there are files in DataSpace -->

        <% if @document.embargoed? %>
          <%= render_embargo_files(@document.embargo_date) %>
        <%elsif @document.files.empty? %>
          <%= render_empty_files %>
        <% else %>
          <table id="files-table" class="table">
            <thead>
              <tr>
                  <th>Filename</th>
                  <th>Size</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        <% end %>

        <!-- End of file download table -->

        <%= render_globus_download(@document.globus_uri, @document.id) %>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
$(function() {

  $('#files-table').DataTable({
    ajax: "<%= catalog_file_list_path(@document) %>",
    columns: [
        { data: 'full_path' },
        { data: 'size' }
    ],
    columnDefs: [
      {
        // filename
        render: function (data, type, row) {
          if (type == "display") {
            html = `<a href="${row.download_url}">${data}</a>`;
            return html;
          }

          // Force any readme file to sort to the top
          var sortValue;
          if (data.toLowerCase().includes("readme")) {
            sortValue = "A" + data;
          } else {
            sortValue = "Z" + data;
          }
          return sortValue;
        },
        targets: 0,
      },
      {
        // file size
        render: function (data, type, row) {
          if (type == "display") {
            return row.display_size;
          }
          return parseInt(data, 10);
        },
        targets: 1,
        className: 'dt-right'
      }
    ]
  });

  // Track file downloads via Plausible.
  $(".documents-file-link").click(function() {
    var filename = $(this).text();
    log_plausible_file_download(filename);
    return true;
  });

  // Track Globus downloads via Plausible.
  $(".globus-download-link").click(function() {
    var id = $(this).data('item-id');
    log_plausible_globus_download(id);
    return true;
  });
});
</script>
