<div id="sidebar" class="sidebar">
  <ul>
    <li><span class="number"><%= downloads(@document.files) %></span> <i class="bi bi-file-arrow-down-fill"></i>downloads</li>
    <li><span class="number"><%= views %> </span> <i class="bi bi-eye-fill"></i>views</li>
  </ul>
</div>
