<div id="sidebar-usage" class="sidebar">
  <ul>
    <li><span class="number"><%= Rails.env.staging? || Rails.env.production? ? views : 'X' %> </span> <i class="bi bi-eye-fill"></i>views</li>
  </ul>
</div>

<div id="sidebar-keywords" class="sidebar">
  <table>
    <%= render_subject_search_links "Keywords", @document.subject, "subject_all_ssim" %>
    <% @document.license.each do |license| %>
      <%= render_field_row "License: ", license, true %>
    <% end %>
    <% file_counts = @document.file_counts.map { |group| "#{group[:extension]}(#{group[:file_count]})" } %>
    <%= render_field_row "File Types: ", file_counts.join(", "), true %>
  </table>
</div>
