<html>
<head>
<style>

h1 {text-align: center;}
h4 {text-align: center;}
p {text-align: center;}

</style>
</head>
<body>
<h1>Publication Withdrawn</h1>

<h4>DOI: <%= @document.doi_value %></h4>

<p> This dataset has been withdrawn by its creator and is not currently available. </p>

<p>If you have questions, please contact the Princeton Data Commons team at <mark><a href= "mailto:prds@princeton.edu">prds@princeton.edu</a></mark>.</p>
</body>
</html>