<h1> Publication Pending </h1>

<h2>DOI: <%= @document.doi_value %></h2>

<p>This dataset is currently under review.</p>
<p>Once approved, it will be published at this location:</p>

<p><%= @document.doi_url %></p>