<html>
<head>
<style>

h1 {text-align: center;}
h4 {text-align: center;}
p {text-align: center;}

</style>
</head>
<body>
<h1> Publication Pending </h1>

<h4>DOI: <%= @document.doi_value %></h4>

<p>This dataset is currently under review.</p>

<p>Once approved, it will be published at this location:</p>

<p><%= @document.doi_url %></p>
</body>
</html>