@import "./variables/typography";

.deployment-version {
  text-align: right;

  margin-top: $space-base;
  margin-bottom: $space-base;

  margin-left: $space-base;
  margin-right: $space-base;

  color: #aaa; /* gray */

  .lux-text-style[data-v-ba32f400] {
    font-size: $font-size-x-small;

    span::before {
      content: " ";
    }
  }
}
