@use "variables/typography";
@use "variables/constants";

.deployment-version {
  text-align: right;

  margin-top: constants.$space-base;
  margin-bottom: constants.$space-base;

  margin-left: constants.$space-base;
  margin-right: constants.$space-base;

  color: #000000; /* gray */

  span::before {
    content: " ";
  }
}
