@import "./variables/typography";

.document-downloads {
  .table {
    border: 0.2rem solid #dee2e6;

    tr {
      th {
        border-right-width: 0;
      }

      td {
        border-left: 0.075rem solid #dee2e6;
      }
    }
  }

  &__button.lux-button.solid[data-v-b7851b04] {
    width: max-content;
    float: right;
    font-weight: $font-weight-bold;
  }
}
