.document-methods {
  margin-top: 1.1rem;
  margin-bottom: 2rem;

  header {
    font-size: 1.15rem;
    font-weight: 600;
    display: inline-block;
  }

  &--collapse {
    margin-top: 1.1rem;
  }
}
