#footer {
  padding: 0px;
  border-top: #cecece solid 15px;
  border-bottom: #cecece solid 3px;
  .content {
    background-color: #ffffff;
    padding: 5px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    img {
      display: block;
      margin: auto;
      width: 100%;
      max-width: 200px;
    }

    a {
      margin: 1rem;

      @media all and (max-width: 764px) {
        flex-basis: calc(50% - 2rem);
      }

      @media all and (min-width: 765px) {
        flex-basis: calc(20% - 2rem);
      }
    }

    .footer-links {
      li {
        list-style: none;
      }
      a {
        color: black;
      }
      a.pul-accessible {
        &::after {
          background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgZmlsbD0ibm9uZSIgaGVpZ2h0PSIyNCIgc3Ryb2tlPSIjMDAwIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE4IDEzdjZhMiAyIDAgMCAxLTIgMkg1YTIgMiAwIDAgMS0yLTJWOGEyIDIgMCAwIDEgMi0yaDYiLz48cG9seWxpbmUgcG9pbnRzPSIxNSAzIDIxIDMgMjEgOSIvPjxsaW5lIHgxPSIxMCIgeDI9IjIxIiB5MT0iMTQiIHkyPSIzIi8+PC9zdmc+");
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
          content: "";
          display: inline-block;
          height: 12px;
          margin-left: 8px;
          position: relative;
          width: 12px;
        }
      }
    }
  }
}

#copyright {
  background-color: #cecece;
  width: 100%;
  padding-right: 10px;
  text-align: right;
  font-size: 10px;
}
