#footer {
  padding: 40px 0px 20px 0px;
  border-top: #cecece solid 30px;
  border-bottom: #cecece solid 15px;
  .content {
    background-color: #ffffff;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    padding: 30px 0px;
    #list {
      li {
        list-style: none;
        float: left;
        display: inline-block;
        height: 80px;
        line-height: 80px;
        img {
          width: 300px;
          padding: 10px 50px;
        }
      }
    }
  }
}

#copyright {
  background-color: #cecece;
  width: 100%;
  padding-right: 10px;
  text-align: right;
  font-size: 10px;
}
