.navbar-logo {
  background-image: asset_url("logo.svg");
}

.navbar.bg-light {
  background-color: #ffffff !important;
  border-bottom: #3a3b3c 1px solid;
}

.navbar-light .navbar-nav .nav-link {
  color: #000000;
}

.navbar-light .navbar-nav .nav-link:hover {
  text-decoration: underline;
}
