.navbar-logo {
  background-image: asset_url("logo.png");
  background-size: contain;
  display: inline-block;
  flex: 0 0 420px;
  height: 100px;
  width: 420px;
  margin-top: 10px;
}

.navbar.bg-light {
  background-color: #ffffff !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #000000;
}

.navbar-light .navbar-nav .nav-link:hover {
  text-decoration: underline;
}

.submit-search-text {
  background-color: #005bbd;
  color: #ffffff;
}

.nav-links-search {
  width: 100%;
}

.navbar-nav {
  float: left;
  padding: 5px 5px 5px 10px;
}

.navbar-nav .nav-item {
  clear: both;
}

.navbar-search .search-query-form {
  flex: 75%;
  max-width: 75%;
}

/* Hide responsive hamburger menu -- not using it */
.navbar .navbar-toggler {
  display: none;
}
