#homepage {
  background: white;
  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 15%,
      rgba(0, 212, 255, 0) 100%
    ),
    asset_url("nodes-bg.svg") no-repeat center right;
  background-size: cover;
  min-height: 325px;

  .jumbotron {
    background: none;
  }
}
