#document {
  float: left;
  width: 70%;
}

/*
 * This class is different from Bootstrap's visible (https://getbootstrap.com/docs/4.1/utilities/visibility/)
 * since `hidden-row` changes the page layout. This is what we want in the Show page as we render each of
 * the metadata elements in an HTML table rows.
 */
.hidden-row {
  display: none;
}

.issue-date-header {
  font-size: 1.10rem;
  font-weight: 600;
  padding-top: 20px;
  padding-left: 15px;
  padding-bottom: 20px;
}
