@import "bootstrap";
@import "blacklight/blacklight";
@import "blacklight_marc";

// Abtract display in search page
dd.blacklight-abstract_tsim {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
