@import "bootstrap";
@import "blacklight/blacklight";
@import "blacklight_marc";

// Abtract display in search page (display up to 4 lines of text)
dd.blacklight-abstract_tsim {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


// Responsive font sizes

@media all and (max-width: 860px) {
  body {
    font-size: 1rem;
  }

  h1 {
    font-size: 2.75rem;
  }

}

@media all and (max-width: 736px) {
  body {
    font-size: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

}
