@import "bootstrap";
@import "blacklight/blacklight";
@import "blacklight_marc";

// Abtract display in search page (display up to 4 lines of text)
dd.blacklight-abstract_tsim {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
