<div>
  <issued-date value="July 2020"></issued-date>
  <abstract value="<%= document.abstract %>"></abstract>
  <description value="<%= document.description %>"></description>
  <methods :values="<%= document.methods %>"></methods>
</div>

<dl class="document-metadata dl-invert row">
  <% fields.each do |field| -%>
    <%= field %>
  <% end -%>
</dl>
