<%= content_tag :div, class: "lux" do %>
    <table class="lux-data-table">
      <caption>More about this record</caption>
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="row">
          <td>
            <span>
              <span>Author</span>
            </span>
          </td>

          <td>
            <span>
              <span>Gartner, Thomas III</span>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
<% end %>
