#banner {
  text-align: center;
  background-color: #e1f0fb;
  padding: 20px 0px 10px 0px;
  border-bottom: #0060a7 solid 2px;
  color: #0060a7;
  h1 {
    font-size: 24px;
    font-weight: bold;
  }
  p {
    font-size: 18px;
  }
  a {
    text-decoration: underline;
  }
}

@media all and (max-width: 860px) {
  #banner {
    padding: 10px 3px 5px 3px;
  }
}
