.table-titles {
  text-align: center;
  margin: 2rem 0 1rem 0;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 0.5rem;
}

th {
  vertical-align: top;
}

#footnote {
  margin-top: 1rem;
}

#repo-features {
  margin-bottom: 1rem;
}
