#document {
  float: left;
  width: 70%;
}

/*
 * This class is different from Bootstrap's visible (https://getbootstrap.com/docs/4.1/utilities/visibility/)
 * since `hidden-row` changes the page layout. This is what we want in the Show page as we render each of
 * the metadata elements in an HTML table rows.
 */
.hidden-row {
  display: none;
}

.hidden-element {
  display: none;
}

.issue-date-heading {
  font-size: 1.1rem;
  font-weight: 600;
  padding-top: 20px;
  padding-left: 15px;
  padding-bottom: 20px;
}

.index_title {
  padding-left: 0px;
  padding-right: 0px;
}

.issue-date-heading {
  padding-left: 0px;
}

.rights-heading {
  padding-bottom: 20px;
}

.abstract-container {
  padding-left: 0px;
}

.description-container {
  padding-left: 0px;
}

.document {
  &-embargo {
    &-heading {
      text-align: center;
      .badge {
        background-color: #ffecbd;
        color: #705000;
        border-color: transparent;
      }
    }
  }
}

#document-file-type-list-extra {
  margin-top: -25px;
}
